body {
	margin: 0;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

h1 {
	font-size: 3em;
	text-decoration: underline;
}

#image-list {
	padding: .5vw;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	flex-flow: row wrap;
}

#image-list .img-container {
	flex: auto;
	width: 250px;
	margin: .5vw;
}

#image-list .img-container img {
	width: 100%;
	height: auto;
	border: 3px solid #000;
	box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
}

@media screen and (max-width: 400px) {
	.img-container {
		margin: 0;
	}
	#image-list {
		padding: 0;
	}
}